/* ======================
   NOVASPOR TASARIM
====================== */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}



body{

    background:#f3f3f3;

    color:#222;

    padding:15px;

}



/* HEADER */


header{

    background:#ffd600;

    border-radius:15px;

    padding:15px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:15px;

    flex-wrap:wrap;

}



.logo{

    font-size:28px;

    font-weight:bold;

}



nav{

    display:flex;

    gap:8px;

    flex-wrap:wrap;

}



nav a{

    background:white;

    color:#111;

    text-decoration:none;

    padding:10px 12px;

    border-radius:10px;

    font-weight:bold;

}



nav a:hover{

    background:#111;

    color:white;

}






/* HOŞ GELDİN */


.welcome{

    margin-top:20px;

    background:#111;

    color:white;

    padding:30px;

    border-radius:20px;

}



.welcome h1{

    color:#ffd600;

    margin-bottom:10px;

}






/* KARTLAR */


.cards{

    margin-top:20px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}



.box{

    background:white;

    padding:20px;

    border-radius:20px;

    box-shadow:0 5px 15px #ddd;

}



.box h2{

    margin-bottom:15px;

}






/* FAVORİ */


#favoriteLogo{

    width:80px;

    height:80px;

    object-fit:contain;

}



button{

    background:#ffd600;

    border:none;

    padding:12px 18px;

    border-radius:12px;

    cursor:pointer;

    font-weight:bold;

}







/* HABER */


.news{

    margin-top:20px;

    background:white;

    padding:20px;

    border-radius:20px;

}



.news-item{

    margin-top:15px;

    background:#f5f5f5;

    padding:15px;

    border-radius:15px;

}







/* FOOTER */


footer{

    margin-top:25px;

    background:#111;

    color:white;

    padding:20px;

    text-align:center;

    border-radius:15px;

}






/* MOBİL */


@media(max-width:700px){


.cards{

grid-template-columns:1fr;

}


header{

flex-direction:column;

}


nav{

justify-content:center;

}


}
/* 🌙 KARANLIK MOD */


.dark-button{

background:#111;

color:white;

border:none;

padding:10px 15px;

border-radius:12px;

cursor:pointer;

font-size:18px;

}





body.dark{

background:#111;

color:white;

}





body.dark header{

background:#000;

}





body.dark .box{

background:#1f1f1f;

color:white;

}





body.dark .welcome{

background:#000;

}





body.dark .news{

background:#1f1f1f;

color:white;

}





body.dark .news-item{

background:#333;

color:white;

}





body.dark nav a{

background:#222;

color:white;

}





body.dark footer{

background:#000;

}
.standing-row{

display:flex;

justify-content:space-between;

padding:10px;

margin:5px 0;

background:#f5f5f5;

border-radius:10px;

}



body.dark .standing-row{

background:#333;

color:white;

}
